<table>
<tr>
  <td><h2 class="text-center">Дата заказа</h2></td>
  <td><h2 class="text-center">Адрес</h2></td>
  <td><h2 class="text-center">Телефон</h2></td>
  <td><h2 class="text-center">Email</h2></td>
</tr>
<% @customer.each do |customer| %>

    <tr>
      <td width="20%">
        <h4 class="text-center"> <%= customer.created_at %></h4>
      </td>
      <td width="20%">
       <h4 class="text-center"> <%= customer.address %></h4>
      </td>
      <td width="20%">
        <h4 class="text-center"> <%= customer.phone %></h4>
      </td>
      <td width="20%">
        <h4 class="text-center" > <%= customer.email %></h4>
      </td>
      <td width="20%">
        <button class="align-center"><%= link_to 'Список товаров', admin_product_path(customer) %></button>
      </td>

      </tr>
<% end %>
</table>