<br>
<div class = "col-xs-4 ">
  <h1>Categories</h1>
<ul class="list-group">

  <% @category.each do |category| %>
        <li class="list-group-item"><h3><%= category.name %></h3>
        <p><%= category.description %></p>
        <%= link_to 'Show', category_products_path(category) %>
        <%= link_to 'Update', edit_category_url(category) %>
        <%= link_to 'Destroy', categories_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
  <% end %>
  </ul>
  <%= link_to 'New category', new_category_url %>
</div>
<br>
