<div class='row'>
  <div class='col-lg-4'>
    <%= simple_form_for @customer, :url => customers_path, :method => :post  do |f| %>
        <p>
          <%= f.input :address %>
        </p>

        <p>
          <%= f.input :phone %>
        </p>

        <p>
          <%= f.input :email %>
        </p>

        <p>
          <%= f.submit%>
        </p>
    <% end %>
  </div>
</div>
