<h1 class="text-center">Корзина</h1>
<br>
<hr>
<% @order.each do |order| %>

    <div class="col-xs-1"></div>
    <div class="row">
      <div class='col-xs-3'>
        <%= image_tag(order.product.image_url, options={width: 250, height: 180})  %>
      </div>
      <div class="col-xs-7">
        <div>
          <h2> <%= order.product.name %> </h2>
        </div>
        <div>
          <h6>Ингридиенты</h6>
          <p>
            <%= order.product.ingredients %>
          <p>
        </div>


        <div class="col-xs-3">
          <h6>Вес:</h6>
          <p><%= order.product.weight %></p>
        </div>
        <div class="col-xs-3">
          <h6>Цена:</h6>
          <p></p><%= order.product.price %></p>
        </div>
        <div class="col-xs-3">
          <h6>Цена:</h6>
          <p></p><%= order.product.price %></p>
        </div>
      </div>
      <hr>
<% end %>
