<h1 class="text-center"><%= @category.name %></h1>


<hr style="border-top: 1px solid #000000;">

    <% @products.each do |product| %>
        <div class="row">
          <div class='col-xs-4'>
            <br>
            <%= image_tag(product.image_url, class: 'image_prod') if product.image? %>
          </div>
          <div class="col-xs-8">
            <div>
              <h2 class="text-center"> <%= product.name %> </h2>
            </div>
            <div>
              <h3>Ингридиенты</h3>
              <p>
                <%= product.ingredients %>
              <p>
            </div>
            <div>
              <h3>Описание</h3>
              <p><%= product.description %></p>
            </div>
            <div class="col-xs-3">
              <h5 class="text-center">Вес</h5>
              <p class="text-center"><%= product.weight %> кг.</p>
            </div>
            <div class="col-xs-3">
              <h5 class="text-center">Калорийность(в 100 г)</h5>
              <p class="text-center"><%= product.calories %></p>
            </div>
            <div class="col-xs-3">
              <h5 class="text-center">Цена</h5>
              <p class="text-center"><%= product.price %></p>
            </div>
            <div class="col-xs-3">
              <%= link_to image_tag('basket.png', class: 'backet'), new_product_order_path(product) %>
            </div>
          </div>
          <% if user_signed_in? %>
              <% if current_user.admin? %>
                    <div>
                      <button class="button7 ">
                        <%= link_to 'Update', edit_category_product_path(@category, product) %>
                      </button>
                      <button class='button7'>
                        <%= link_to 'Destroy', category_product_path(@category, product), method: :delete, data: {confirm: 'Are you sure?'} %>
                      </button>
                    <br>
                  </div>
              <% end %>
          <% end %>
      </div>
        <hr style="border-top: 1px solid #000000;">
    <% end %>


<% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="row">
        <button class="bottom-aligned-row">
          <%= link_to 'New product', new_category_product_path(@category), method: :put %>
        </button>
      </div>
  <% end %>
<% end %>
